<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>op.gg - Encontra tus estadisticas</title>
</head>

<body>
    Busca tu Invocador
    <form action="/summoner" method="get">
        <input name="userName" placeholder="Usuario" type="text">
        <select name="region">
            <option value="la1">LAN</option>
            <option selected value="la2">LAS</option>
            <option value="na1">NA</option>
        </select>
        <input type="submit" value="Buscar">
    </form>
</body>

</html>